<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Orbita.MS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Orbita.MS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <Orbita.MS.Properties.Settings>
            <setting name="PRT_NumMaximoClientes" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PRT_TiempoReconexionClientes" serializeAs="String">
                <value>3600</value>
            </setting>
        </Orbita.MS.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Orbita.MS.Properties.Settings>
            <setting name="PRT_PuertoControl" serializeAs="String">
                <value>3625</value>
            </setting>
        </Orbita.MS.Properties.Settings>
    </applicationSettings>
</configuration>
